<h1><%= t('.your_profile') %></h1>

<%= simple_form_for @user, as: :profile, url: profile_path, method: :patch do |f| %>
  <%= f.input :name, placeholder: "Mr. Smith" %>
  <%= f.input :username, placeholder: "mr_smith" %>
  <%= f.input :email, placeholder: "smith@example.com" %>

  <%= f.submit t('.update_btn') %>
<% end %>
