<h1 class='title'><%= t('.title') %></h1>

<%= simple_form_for @judge do |f| %>
  <%= f.input :name, placeholder: "Cómo Vamos Judge" %>
  <%= f.input :url, as: :url, placeholder: "https://judge.comovamos.co" %>
  <%= f.button :submit %>
<% end %>
