<%= div_for problem do %>
  <h5>
    <%= link_to problem.name, problem %>
    <span class='small'>
      (<%= pluralize problem.solutions_count, t("problems.show.solution") %>)
    </span>
  </h5>

  <div>
    <div class='meta'><strong>Judge:</strong> <%= link_to problem.judge_name, problem.judge %></div>
    <div class='meta'><strong>Solutions:</strong> <%= problem.solutions_count%></div>
    <div class='meta'><strong>Difficulty:</strong> <%= link_to problem.difficulty, url_for(level: problem.difficulty_level) %></div>
  </div>

  <div class='categories'>
    <% problem.categories.each do |category| %>
      <%= category_badge(category) %>
    <% end %>
  </div>
<% end %>
