<h1 class='title'>
  <%= @problem.name %>
  <span class='x-small'>&nbsp; (<%= pluralize(rand(10), 'solution') %>)</span>
</h1>

<div class='subtitle'>
  <%= link_to @problem.url, target: '_blank' do %>
    <%= icon 'globe', t('.website') %>
  <% end %>
</div>

<div class='solutions'>
  <% 5.times do %>
    <%= render random_solution if random_solution %>
  <% end %>
</div>
