<%= div_for user do %>
  <%= link_to user do %>
    <div class='avatar'><%= image_tag user.avatar %></div>
    <div class='info'>
      <h5><%= user.name %></h5>

      <%= pluralize(rand(100), 'solution') %> for
      <%= pluralize(rand(100), 'problems') %>.
    </div>
  <% end %>
<% end %>
