<nav class='top'>
  <div class='wrapper'>
    <ul class='main'>
      <li><%= link_to "¿Cómo Vamos?", root_path %></li>
      <li><%= link_to t(".judges") %></li>
      <li><%= link_to t(".problems") %></li>
      <li><%= link_to t(".users"), users_path %></li>
    </ul>

    <h6 class='session'>
      <% if logged_in? %>
        <%= t('.logged_in_as') %>
        <%= link_to current_user.name, profile_path %>
      <% else %>
        <%= t('.signin_with') %>
        <%= link_to "GitHub", login_path(:github) %>
      <% end %>
    </h6>
  </div>
</nav>
