<nav class='top'>
  <div class='wrapper'>
    <ul class='main'>
      <li><%= nav_link "¿Cómo Vamos?", root_path %></li>
      <li><%= nav_link t(".problems"), problems_path %></li>
      <li><%= nav_link t(".judges"), judges_path %></li>
      <li><%= nav_link t(".users"), users_path %></li>
    </ul>

    <h6 class='session'>
      <% if logged_in? %>
        <div>
          <%= t('.logged_in_as') %>
          <%= link_to current_user.name, profile_path, class: 'edit-profile' %>

          <span class='small logout'>
            (<%= link_to t('.logout'), logout_path %>)
          </span>
        </div>
      <% else %>
        <%= t('.signin_with') %>
        <%= link_to "GitHub", login_path(:github) %>
      <% end %>
    </h6>
  </div>
</nav>
