<nav class='top'>
  <div class='wrapper'>
    <ul class='main'>
      <li><%= link_to "¿Cómo Vamos?" %></li>
      <li><%= link_to "Judges" %></li>
      <li><%= link_to "Problems" %></li>
      <li><%= link_to "Users" %></li>
    </ul>

    <h6 class='session'>
      <% if logged_in? %>
        Logged in as <%= link_to current_user.name %>
      <% else %>
        Signin with <%= link_to "GitHub", login_path(:github) %>
      <% end %>
    </h6>
  </div>
</nav>
