<div class='solution'>
  <header>
    <%= avatar_for(solution.user, size: 64) %>

    <div class='info'>
      <div class='solver'>
        Submitted by <%= link_to solution.user_name, solution.user %> on
        <%= formatted_date(solution.created_at) %>.
      </div>

      <div class='actions'>
        <span class='action show'><%= icon 'eye', 'Show Solution' %></span>
        <span class='action'><%= icon 'edit', 'Edit' %></span>
      </div>
    </div>
  </header>

  <div class='source'>
    <div class='explanation'><%= markdown(solution.explanation) %></div>
    <pre class='source-code'><%= solution_source(solution) %></pre>
  </div>
</div>
