<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta name="description" content="¿Cómo Vamos? is a place to share and track solutions to competitive programming problems.">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= body_class %>'>
  <%= render 'header' %>

  <section id='content' class='wrapper'>
    <%= render 'alerts' %>
    <%= render 'complete_profile' %>
    <%= content_or_partial :sidebar unless full_layout? %>

    <div class="<%= content_class %>">
      <%= yield %>
    </div>
  </section>

  <%= render 'footer' %>
  <%= render 'tracking' %>
</body>
</html>
